# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
venv/
env/
.env
*.env

# Logs
*.log
*.sql
*.sqlite

# IDE
.vscode/
.idea/

# Project specific
uploads/*
!uploads/.gitkeep
logs/
logs/*
!logs/.gitkeep
data/
uploads/

# Docker
.docker/
docker-compose.override.yml
